################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/sample/Assets/LicenseSpringLog.txt
/sample/Assets/LicenseSpringLog.txt.meta
