
.HeaderImage {
	margin:5px;
	margin-top:10px;
	filter:saturate(4);
	display:flex;
	height:120px;
	background-image: resource('UI/logo');
}

#lblHeader Label {
	margin-left:10px;
	margin-right:10px;
    font-size: 14;
    font-weight: bold;
}

TextField {
	margin-left:10px;
	margin-right:10px;
	font-size : 16;
}

Button {
	font-size:16;
	margin-left:10px;
	margin-right:10px;
}

Button#btnGenerateFile{
	-unity-background-image-tint-color: #2980b9;
}